.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .headerText{
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="text"]{
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: block;
    margin: 10px auto;
  }
  
  /* Gallery grid */
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    justify-content: center;
  }
  
  /* Gallery item */
  .gallery-item {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.2s ease;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .tag{
    color: #0b30ab;
    border-radius: 10px;
    padding: .2em .6em;
    margin: 0 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  
  .dragging {
    opacity: 0.7;
    transform: scale(0.95);
    transition: opacity 0.2s, transform 0.2s;
  }
  
  /* Styles for image tags */
  .tags {
    margin-top: 10px;
    text-align: center;
  }